
# ======================
# DATABASE - MYSQL
# ======================
DB_HOST=localhost
DB_PORT=3306
DB_USER=
DB_PASS=
# lembre-se de criar o database "pesquisa" no MySQL 
DB_NAME=pesquisa

# ======================
# DATABASE - MONGO
# ======================
MONGO_URL=mongodb://localhost:27017

# ======================
# AUTH
# ======================
JWT_SECRET=

# ======================
# SEED ADMIN - caso não seja provida uma seed_admin_password, a senha por default será "admin123"
# ======================
SEED_ADMIN_PASSWORD=